@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-size: cover;
  background-position: center;
  background-image: url("/img/2.png");
  color: #000000;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.y-m-header.is-open .y-m-header-background {
  left: 0;
}
.y-m-header-button-wrapper {
  margin-left: auto;
}
.y-m-header-icon {
  display: none;
}

.y-m-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.y-m-navigation-list.is-open {
  right: 0;
}
.y-m-header-icon-menu {
  display: block;
}

.y-m-header-icon-button.is-open .y-m-header-icon-menu {
  display: none;
}

.y-m-header-icon-button.is-open .y-m-header-icon-close {
  display: block;
}

.y-m-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
}

.y-m-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
}
.y-m-header.is-open .y-m-header-background {
  left: 0;
}
.y-m-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.y-m-header-icon-menu {
  display: block;
}

.y-m-header-icon-button.is-open .y-m-header-icon-menu {
  display: none;
}

.y-m-header-icon-button.is-open .y-m-header-icon-close {
  display: block;
}

.y-m-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.y-m-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 161px 32px;
  gap: 24px;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Mobile\ \(1\).png");
  margin-top: -64px;
  z-index: -1;
}

.y-m-navigation-list.is-open {
  right: 0;
}

.y-m-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #000000;
  font-family: Inria Serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;

  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-left: 10px;
  background: #ffffff;
}

.y-m-navigation-link:hover,
.y-m-navigatioт-link:focus {
  background: #000000;
  color: #ffffff;
}

.y-m-header.is-open {
  background-color: transparent;
}

.y-m-navigation-img {
  display: none;
}

@media screen and (min-width: 1211px) {
  .y-m-navigation-img {
    display: flex;
  }
  .y-m-policy-terms-header-icon-menu {
    display: none;
  }
  .w-b-header-button-wrapper {
    display: none;
  }
  .y-m-header {
    width: 100%;
    height: 77px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: linear-gradient(
      90deg,
      rgba(217, 217, 217, 0) 0%,
      #000000 47.12%,
      rgba(217, 217, 217, 0) 100%
    );
  }

  .y-m-header-background {
  }
  .y-m-header-icon-button {
    display: none;
  }
  .y-m-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .y-m-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 32px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .y-m-navigation-link {
    padding-top: 4px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-left: 10px;
    font-family: Inria Serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .y-m-navigation-item-desk {
    display: none;
  }
}
.y-m-home {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Mobile\ \(1\).png");
  margin: auto;
}
.y-m-home-container {
  width: 375px;
  height: 810px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Mobile.png");
  padding: 156px 20px 0px;
  margin: auto;
}

.y-m-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.y-m-home-title {
  font-family: Inria Serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 34px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.y-m-home-text {
  font-family: Inria Serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 42px 0 22px;
  width: 226px;
}
.y-m-home-link {
  transition: all 0.3s ease-in-out;
}
.y-m-home-img {
  width: 208px;
}
.y-m-home-link:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1211px) {
  .y-m-home {
    background-image: url("/img/home/11.png");
  }
  .y-m-home-container {
    width: 1440px;
    height: 910px;
    padding: 262px 180px 0px;
    background-image: url("/img/home/1.png");
  }
  .y-m-home-container-top {
    display: flex;
    flex-direction: column;
  }

  .y-m-home-title {
    font-family: Inria Serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 68px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .y-m-home-text {
    font-family: Inria Serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    padding: 48px 0 30px;
    width: 422px;
  }
  .y-m-home-img {
    width: 270px;
    content: url("/img/home/Store\ download\ button\ \(1\).png");
  }
}

.y-m-about-container {
  width: 375px;
  padding: 100px 20px 64px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.y-m-about-title {
  font-family: Inria Serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 34px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.y-m-about-text {
  font-family: Inria Serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 37px;
}
.y-m-about-img {
  width: 336px;

  margin: 0 auto;
}
.y-m-about-text-bold {
  font-family: Inria Serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto;
  padding: 37px 0 20px;
}
.y-m-about-textq {
  margin-bottom: 37px;
}

@media screen and (min-width: 1211px) {
  .y-m-about-container {
    width: 1440px;
    padding: 191px;
  }
  .y-m-about-title {
    font-family: Inria Serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 68px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .y-m-about-text {
    font-family: Inria Serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    width: 541px;
    padding-top: 35px;
  }
  .y-m-about-img {
    width: 443px;
  }
  .y-m-about-text-bold {
    font-family: Inria Serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    width: 361px;
    padding: 35px 0 20px;
  }
  .y-m-about-textq {
    margin-bottom: 27px;
  }
  .y-m-about-textqs {
    padding-top: 67px;
  }
}

.y-m-why-container {
  width: 375px;
  margin: auto;
  height: auto;
  padding: 158px 20px 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.y-m-why-img {
  margin: 37px 0 20px;
}

.y-m-why-text {
  padding: 0 0 37px;
}

@media screen and (min-width: 1211px) {
  .y-m-why-container {
    width: 1440px;
    padding: 269px 181px 93px;
  }
  .y-m-why-img {
    margin: 35px 0 15px;
  }

  .y-m-why-text {
    width: auto;
    padding: 0 0 35px;
  }
}

.y-m-how-container {
  margin: auto;
  width: 375px;
  padding: 158px 16px 0;
  height: 810px;
}
.y-m-how-list {
  padding: 50px 0 50px;
}

.y-m-how-item {
  background: #ffffff;
  width: 336px;
  height: 274px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  margin: 0 10px;
}

.y-m-how-text-number {
  font-family: Inria Serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 46px;
  leading-trim: CAP_HEIGHT;
  line-height: 130%;
  letter-spacing: 0%;
}

.y-m-how-text-bold {
  font-family: Inria Serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 23px 0;
}

.y-m-how-text {
  font-family: Inria Serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1211px) {
  .y-m-how-container {
    margin: auto;
    width: 1440px;
    height: 910px;
    padding: 191px 180px 0;
  }
  .y-m-how-list {
    padding: 71px 0 0px;
  }

  .y-m-how-item {
    width: 344px;
    height: 280px;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;

    margin: 0 16px;
  }
}

.y-m-reviews-container {
  margin: auto;
  padding: 158px 20px 0;
  width: 375px;
  height: 810px;
}
.y-m-reviews-list {
  padding: 50px 0 50px;
}

.y-m-reviews-item {
  margin: 0 16px;
  width: 336px;
  height: 281px;
}

.y-m-reviews-item-top {
  width: 336px;
  height: 213px;

  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  background: #ffffff;
}
.y-m-reviews-img {
  width: 137px;
  height: 137px;
  margin: -70px auto 0;
}
.y-m-reviews-text-bold {
  font-family: Inria Serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.y-m-reviews-text {
  font-family: Inria Serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1211px) {
  .y-m-reviews-container {
    margin: auto;
    padding: 191px 180px 0;
    height: 910px;
    width: 1440px;
  }
  .y-m-reviews-list {
    padding: 74px 0 0px;
  }

  .y-m-reviews-item {
    margin: 0 16px;
    width: 344px;
    height: 281px;
  }

  .y-m-reviews-item-top {
    width: 344px;
    height: 213px;

    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
  }
}

.y-m-gallery-container {
  width: 375px;
  margin: auto;
  padding: 158px 0 0px;
}
.y-m-gallery-list {
  width: auto;
  padding-top: 30px;
  margin: auto;
}

.y-m-gallery-item {
  width: 264.375px;
  height: 470px;

  overflow: hidden;
  position: relative;
  margin: 0 16px;
}

.y-m-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.y-m-gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.y-m-gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}
.y-m-gallery-button-icon {
  width: 48px;
}
.y-m-gallery-button:hover {
  scale: 150%;
}
@media screen and (min-width: 1211px) {
  .y-m-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 191px 0 0;
  }
  .y-m-gallery-item {
    width: 282px;
    height: 502px;
  }
}

.y-m-features-container {
  width: 375px;
  margin: auto;
  padding: 158px 0px 0px;
}
.y-m-features-div {
  background-image: url("/img/4.png");
  height: 470px;
  margin-top: 30px;
}
.y-m-features-list {
  padding-top: 83px;
  padding-bottom: 50px;
}
.y-m-features-lists {
  display: none;
}
.y-m-features-item {
  display: flex;
  gap: 20px;
  width: 320px;
  margin: 0 14px auto;
}

.y-m-features-img {
  width: 29px;
  height: 29px;
}
.y-m-features-item-two {
  background: #ffffff;
  width: 271px;
  padding: 20px;
}
.y-m-features-text-bold {
  font-family: Inria Serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.y-m-features-text {
  font-family: Inria Serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 23px;
}

@media screen and (min-width: 1211px) {
  .y-m-features-container {
    width: 1440px;
    margin: auto;
    padding: 191px 0 0px;
  }
  .y-m-features-div {
    background-image: url("/img/5.png");
    height: 506px;
    margin-top: 24px;
  }
  .y-m-features-list {
    display: none;
  }
  .y-m-features-lists {
    display: flex;
    padding: 45px 170px 0;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 70px;
    row-gap: 12px;
  }
  .y-m-features-item {
    width: 320px;
    margin: 0;
    width: 320px;
    gap: 20px;
  }
  .y-m-features-item-t {
    margin-top: 53px;
  }
  .y-m-features-img {
    width: 29px;
    height: 29px;
  }
  .y-m-features-item-two {
    background: #ffffff;
    width: 271px;
    padding: 20px;
    margin-bottom: auto;
  }
  .y-m-features-button-container {
    display: none;
  }
}

.y-m-policy-terms-container {
  padding: 158px 20px 50px;
  width: 375px;
  margin: auto;
  font-family: Inria Serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.y-m-policy-terms-container h1 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: Inria Serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 34px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.y-m-policy-terms-container h2 {
  margin-bottom: 16px;
  font-family: Inria Serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.y-m-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 16px;
}
.y-m-policy-terms-container p {
  margin-bottom: 16px;
}
.y-m-email-link {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1211px) {
  .y-m-policy-terms-container {
    padding: 157px 164px 60px;
    width: 1440px;
    font-family: Inria Serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .y-m-policy-terms-container h1 {
    font-family: Inria Serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 68px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
    text-transform: uppercase;
  }
  .y-m-policy-terms-container h2 {
    font-family: Inria Serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .y-m-policy-terms-container p {
    margin-bottom: 24px;
  }
}

.y-m-footer-container {
  width: 375px;
  padding: 11px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: #ffffff;
}

.y-m-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-family: Inria Serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 1%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

.y-m-footer-text {
  color: inherit;
}

.y-m-footer-copyright {
  font-family: Inria Serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 1%;
}

@media screen and (min-width: 1211px) {
  .y-m-footer-container {
    width: 1440px;
    padding: 44px;
  }

  .y-m-footer-wrapper {
    display: flex;
    flex-direction: row;
    gap: 19px;
  }

  .y-m-footer-text {
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 1%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .y-m-footer-copyright {
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 1%;
  }
}

.y-m-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 40px 28px;
  border-top: 2px solid #dbc08c;
  background: #ffffff;

  z-index: 1000;
  display: none;
}
.y-m-cookie-popup-text {
  font-family: Inria Serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.y-m-cookie-popup-text-two {
  font-family: Inria Serifo;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 24px;
}

.y-m-cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.y-m-cookie-button {
  background-color: transparent;
  box-shadow: 0px 1px 3px 0px #87614c;
  border: 1px solid #000000;
  width: 319px;

  border-radius: 8px;
  padding-top: 15px;

  padding-bottom: 15px;
  font-family: Inria Serifo;
  text-transform: uppercase;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

#accept-cookies {
  border: none;
  background: #f6bf55;
}

.y-m-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1211px) {
  .y-m-cookie-popup-text-two {
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .y-m-cookie-popup-text {
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 22px;
    letter-spacing: 0%;
  }
  .y-m-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
  }

  .y-m-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
